.container{
	min-height: 100vh;
	width: 100%;
	padding: 0.625rem 0.625rem 4.375rem;
}

/* noticeView */
.noticeView{
	position: fixed;
	top: 0.625rem;
	left: 0;
	right: 0;
	padding: 0 0.625rem;
	background-color: #fff;
}
.notice-content{
	height: 2.1875rem;
	border-radius: 0.1875rem;
	box-shadow: 0 0 0.3125rem #ddd;
	padding-left: 3.125rem;
	padding-right: 0.625rem;
	background: url(../img/tip.png) 0.9375rem center no-repeat;
	background-size: auto 1.25rem;
	overflow: hidden;
	
}
.notice-content .notice-txt{
	width: 62.5rem;
	overflow: hidden;
	white-space: nowrap;
}
.notice-content .notice-txt p{
	line-height: 2.1875rem;
	font-size: 0.875rem;
	color: #333;
	display: inline-block;
}
.wrapper{
	font-size: 0.85rem; 
	color: #333;  
	white-space: nowrap; 
	overflow: hidden;
	width: 100%;
}
.inner{ 
	width:1000px;
	overflow:hidden;
}
.inner p{ 
	display:inline-block;
	line-height: 35px;
	font-size: 14px;
}

/* banner */
.banner{
	width: 100%;
	margin-bottom: 0.625rem;
}
.banner img{
	width: 100%;
}

/* content */
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.content .content-bg{
	width: 100%;
}
.content .scanBtn{
	position: absolute;
	margin-top: -0.625rem;
	width: 6.25rem;
	height: 6.25rem;
	background: url(../img/scan-image.png) no-repeat left top;
	background-size: 6.25rem;
}

/* tabBar */
.tabBar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: start;
	align-items: center;
	height: 3.125rem;
	border-top: 1px solid #ddd;
}
.tabBar a{
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	width: 33%;
	font-size: 0.75rem;
	color: #666;
}
.tabBar a img{
	height: 1.25rem;
	margin-bottom: 0.3125rem;
}
.tabBar .scanTab{
	margin-top: -1.25rem;
}
.tabBar .scanTab img{
	height: 3.75rem;
}