.container{
	width: 100%;
	background-color: #011548;
	padding: 10px;
	min-width: 1080px;
	height: 100vh;
	overflow: hidden;
}
.fullScreen{
	transform-origin: top center;
}

.topView{
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.topView .weatherView p, .topView .timeView p{
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	width: 230px;
	padding-bottom: 10px;
}
.topView .timeView p{
	text-align: right;
}
.topView .titleView{
	background: url(../img/titleBg.png) no-repeat left top;
	background-size: 100% 100%;
	margin-left: 15px;
}
.topView .titleView p{
	width: 540px;
	height: 70px;
	text-align: center;
	font-size: 30px;
	color: #0f2d9f;
	font-weight: bold;
	line-height: 80px;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0 30px;
	padding-top: 25px;
	padding-bottom: 30px;
	margin-top: -35px;
}
.content-left{
	width: 1000px;
	padding-top: 60px;
}

.currSite{
	width: 100%;
	height: 131px;
	pointer-events: auto;
	border-radius: 0px;
	border-style: solid;
	border-image: url(../img/border.png) 32 37 fill / 32px 37px / 0 stretch;
	border-width: 1px;
	background: none;
	filter: blur(0px);
	backdrop-filter: blur(0px);
	font-size: 38px;
	font-weight: bold;
	color: yellow;
}
.currSite p{
	line-height: 131px;
	width: 100%;
	text-align: center;
}

.lineList{
	padding: 10px 0;
}
.lineItem{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	background: url(../img/lineBg.png) no-repeat left top;
	background-size: 100% 100%;
	padding: 30px 20px;
	margin-top: 20px;
}
.leftMap{
	flex: 0 0 110px;
	border-radius: 10px;
}
.leftMap img{
	height: 110px;
}
.leftMap .lineTitle{
	font-size: 26px;
	font-weight: bold;
	color: #ccc60d;
	margin-bottom: 10px;
}
.icon{
	background: url(../img/right-icon.png) no-repeat left center;
	background-size: 100%;
	flex: 0 0 30px;
	height: 15px;
	margin: 0 10px;
}
.routeView{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.btnView{
	flex: 0 0 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btnView p{
	font-size: 18px;
	color: #ccc60d;
	font-weight: bold;
}
.buyBtn{
	display: block;
	width: 100%;
	color: #fff;
	background-color: red;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.buyBtn.disabled{
	background-color: #E6E6E6;
	color: #666;
}
.routeTitle{
	color: #e40013;
	background-color: #fff;
	line-height: 25px;
	padding: 0 10px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bolder;
	margin-top: 22px;
}
.routeContent{
	flex: 1;
	margin-top: -20px;
}
.nextCar{
	color: yellow;
	text-align: center;
	font-size: 16px;
}
.nextCar .nextTxt{
	font-size: 18px;
	color: #fff;
	margin: 0 10px;
}
.routeDetail{
	position: relative;
	width: 100%;
	padding-top: 100px;
}
.routeDetail .line{
	background-color: #777;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	height: 5px;
	margin-top: -2.5px;
}
.siteList{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -8px;
	padding-right: 30px;
	padding-left: 30px;
}
.siteList .siteItem{
	height: 40px;	
}
.siteList .currItem{
	height: 60px;	
	margin-top: -4px;
}
.siteList .siteItem img{
	height: 20px;
}
.siteList .currItem img{
	height: 25px;	
}
.siteList .active img{
	height: 72px;
}

.site{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.site .carInfo{
	font-size: 16px;
	color: #fff;
	position: absolute;
	left: 50%;
	bottom: -25px;
	width: 120px;
	margin-left: -60px;
	text-align: center;
	display: none;
}
.site .siteName{
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.loop{
	border: 5px solid #777;
	height: 80px;
	border-radius: 80px;
	/* margin-top: -40px; */
	margin-top: 30px;
	position: relative;
}
.loop .siteItem{
	position: absolute;
	width: 70px;
	height: 45px;
	text-align: center;
}
.train .siteItem:nth-of-type(10){
	left: -245px;
	top: 28px;
}
.train .siteItem:nth-of-type(11){
	left: -305px;
	top: 28px;
}
.nx .siteItem:nth-of-type(1), .bx .siteItem:nth-of-type(1), .train .siteItem:nth-of-type(1){
	left: -175px;
	top: 28px;
}
.nx .siteItem:nth-of-type(2), .bx .siteItem:nth-of-type(2), .train .siteItem:nth-of-type(2){
	left: -105px;
	top: 28px;
}
.nx .siteItem:nth-of-type(3), .bx .siteItem:nth-of-type(3), .train .siteItem:nth-of-type(3){
	left: -37px;
	top: 28px;
}
.nx .siteItem:nth-of-type(4), .bx .siteItem:nth-of-type(4), .train .siteItem:nth-of-type(4){
	left: 25%;
	margin-left: -25px;
	top: -10px;
}
.nx .siteItem:nth-of-type(5), .bx .siteItem:nth-of-type(5), .train .siteItem:nth-of-type(5){
	left: 50%;
	margin-left: -25px;
	top: -10px;
}
.nx .siteItem:nth-of-type(6), .bx .siteItem:nth-of-type(6), .train .siteItem:nth-of-type(6){
	left: 75%;
	margin-left: -25px;
	top: -10px;
}
.nx .siteItem:nth-of-type(7), .bx .siteItem:nth-of-type(7), .train .siteItem:nth-of-type(7){
	right: -37px;
	top: 24px;
}
.nx .siteItem:nth-of-type(8), .bx .siteItem:nth-of-type(8),.train .siteItem:nth-of-type(8){
	left: 75%;
	margin-left: -25px;
	bottom: -40px;
}
.train .siteItem:nth-of-type(8){
	left: 75%;
	margin-left: -25px;
	bottom: -40px;
}
.nx .siteItem:nth-of-type(9), .bx .siteItem:nth-of-type(9){
	left: 50%;
	margin-left: -25px;
	bottom: -40px;
}
.nx .siteItem:nth-of-type(10), .bx .siteItem:nth-of-type(10), .train .siteItem:nth-of-type(9){
	left: 25%;
	margin-left: -25px;
	bottom: -40px;
}
.loop .fx{
	position: absolute;
}
.nx .fx:nth-of-type(1), .bx .fx:nth-of-type(1){
	left: -120px;
	top: 50%;
	margin-top: -15px;
}
.nx .fx:nth-of-type(2), .bx .fx:nth-of-type(2){
	left: -52px;
	top: 50%;
	margin-top: -15px;
}
.nx .fx:nth-of-type(3), .bx .fx:nth-of-type(3){
	left: 25%;
	margin-left: 30px;
	top: -18px;
}
.nx .fx:nth-of-type(4), .bx .fx:nth-of-type(4){
	left: 50%;
	margin-left: 30px;
	top: -18px;
}
.nx .fx:nth-of-type(5), .bx .fx:nth-of-type(5){
	left: 50%;
	margin-left: 30px;
	bottom: -19px;
}
.nx .fx:nth-of-type(6), .bx .fx:nth-of-type(6){
	left: 25%;
	margin-left: 30px;
	bottom: -19px;
}
.qj {
	padding: 0 50px;
}
.qj .fx{
	position: absolute;
}
.qj .fx:nth-of-type(1){
	left: 33%;
	margin-left: -20px;
	top: -7px;
}
.qj .fx:nth-of-type(2){
	left: 73%;
	margin-left: -35px;
	top: -7px;
}
.train .fx:nth-of-type(1){
	left: -75px;
	margin-left: -45px;
	top: 50%;
	margin-top: -16px;
}
.train .fx:nth-of-type(2){
	left: -5px;
	margin-left: -45px;
	top: 50%;
	margin-top: -16px;
}
.train .fx:nth-of-type(3){
	left: 25%;
	margin-left: 25px;
	top: -18px;
}
.train .fx:nth-of-type(4){
	left: 50%;
	margin-left: 25px;
	top: -18px;
}
.train .fx:nth-of-type(5){
	left: 50%;
	margin-left: 0;
	bottom: -19px;
}
.train .fx:nth-of-type(6){
	left: -140px;
	margin-left: -45px;
	top: 50%;
	margin-top: -16px;
}
.train .fx:nth-of-type(7){
	left: -210px;
	margin-left: -45px;
	top: 50%;
	margin-top: -16px;
}
.loopDetail{
	margin-top: 30px;
	padding: 0;
	padding-left: 90px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.loopDetail .line{
	width: 150px;
	margin: 0;
	top: 47%;
	left: 40px;
}
.loopDetail .loop{
	width: 450px;
	margin: 0;
	left: 100px;
}
.train .line{
	width: 275px;
}
.train .loop{
	width: 325px;
	left: 225px;
}
.bottomView{
	display: flex;
	justify-content: start;
	align-items: flex-start;
	padding-top: 30px;
}
.content-right{
	margin-right: 20px;
}
.content-right .right-top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.mapView{
	background: url(../img/mapBg.png) no-repeat left top;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 550px;
	height: 850px;
	position: relative;
	margin-right: 30px;
}
.mapView .mapTitle{
	position: absolute;
	left: 0;
	top: 0;
	width: 160px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	line-height: 105px;
}
.mapView img{
	width: 520px;
	margin-top: 75px;
}
.callView{
	width: 230px;
	margin-top: 26px;
	display: none;
}
.callView img{
	width: 100%;
}
.adView{
	background: url(../img/adBg.png) no-repeat left top;
	background-size: 100%;
	width: 750px;
	height: 495px;
	display: none;
}

.progressView{
	width: 380px;
	height: 850px;
}
.progressContent{
	width: 100%;
	height: 850px;
	/* background-color: rgba(14,84,146,.5);
	padding: 25px 20px; */
	border-radius: 10px;
	overflow: hidden;
}
.progressContent img{
	width: 100%;
	height: 850px;
}

/* .progress-title{
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 30px;
}
.progress-item{
	width: 100%;
	padding: 15px;
	pointer-events: auto;
	border-radius: 0px;
	border-style: solid;
	border-image: url(../img/border.png) 32 37 fill / 32px 37px / 0 stretch;
	border-width: 1px;
	background: none;
	filter: blur(0px);
	backdrop-filter: blur(0px);
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	color: #fff;
	margin-bottom: 40px;
} */

.hoverView{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(6, 19, 74, .7);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.hoverView .ticketView{
	width: 1000px;
	height: 1250px;
	background: url(../img/buyImg.png) no-repeat left top;
	background-size: 100% 100%;
	position: relative;
}
.closeBtn{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 50px;
	height: 50px;
}
.qrcodeImg{
	position: absolute;
	width: 230px;
	left: 50%;
	top: 95px;
	margin-left: -115px;
}
.currLineName{
	position: absolute;
	left: 125px;
	top: 108px;
	line-height: 35px;
	width: 150px;
	font-size: 36px;
	color: #fff;
}
.djs{
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	color: #fff;
}