.container{
	min-height: 100vh;
	width: 100%;
	padding: 10px;
	padding-bottom: 50px;
}
.banner{
	width: 100%;
}
.banner img{
	width: 100%;
	border-radius: 5px;
}
.buyInfo{
	padding: 10px 0;
}

.buy_item{
	display: flex;
	justify-content: flex-start;
	align-items: center;	
	padding: 10px;
}
.orderView{
	display: flex;
	justify-content: flex-end;
}
.orderBtn{
	display: block;
	width: 90px;
	background-color: #1E9FFF;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
}
.buy_item select{
	flex: 1;
	height: 35px;
	font-size: 14px;
	background-color: #fff;
}
.item_l{
	flex: 0 0 75px;
	text-align: right;
	padding-right: 10px;
	font-size: 16px;
}
.number{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
}
.number .number_txt{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 10px;
	font-size: 16px;
}
.number input{
	width: 45px;
	height: 35px;
	padding: 0 5px;
	font-size: 16px;
	margin-right: 10px;
}
.number a{
	width: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #40AFFE;
	color: #fff;
	font-size: 18px;
}

.descView p{
	font-size: 14px;
	color: #333;
	line-height: 20px;
	padding: 2px 0;
}
.descView .title{
	font-size: 15px;
	font-weight: bold;
}

.buy_item>input{
	display: block;
	height: 35px;
	flex: 1;
	padding: 0 5px;
	font-size: 16px;
}

.bottomView{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.bottomView p{
	flex: 1;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #333;
}
.bottomView a{
	display: block;
	flex: 0 0 125px;
	line-height: 45px;
	background-color: #40AFFE;
	text-align: center;
	font-size: 16px;
	color: #fff;
}

.layui-layer-btn .layui-layer-btn1{
	background-color: #07c160;
	color: #fff;
}