.container{
	width: 100%;
	height: 200vw;
	background: url(../img/rankBg.png) no-repeat left top;
	background-size: 100% auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	padding-top: 14.5vw;
	padding-left: 6.2vw;
	transform: scale(1);
}
.title{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 0.3rem;
	padding-left: 14.5vw;
	line-height: 14.5vw;
	background: url(../img/rank-icon.png) no-repeat .4rem center;
	background-size: .4rem auto;
	
}
.rankList{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 0.15rem 0;
	width: 100%;
	height: 14rem;
}
.rankItem{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.185rem .2rem;
}
.rankItem .rankNumber{
	font-size: 0.4rem;
	color: #fff;
	width: 0.5rem;
}
.top .rankNumber{
	color: #f5fa2a;
	font-weight: bold;
}
.rankItem .imgView{
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	border: 5px solid #00e8ff;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.1rem;
}
.top .imgView{
	border-color: #f5fa2a;
}
.rankItem .imgView img{
	height: 100%;
}
.rankItem .time{
	font-size: 0.32rem;
	color: #fff;
}
.top .time{
	color: #fff;
	font-weight: bold;
}