.container{
	width: 100%;
	background-color: #011548;
	padding: 0 10px 10px 10px;
	min-width: 1900px;
	height: 100vh;
	overflow: hidden;
}
.fullScreen{
	transform-origin: top center;
}

.topView{
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.topView .weatherView, .topView .timeView{
	width: 230px;
}
.topView .weatherView{
	padding: 10px 0;
}
.topView .weatherView img{
	width: 60px;
}
.topView .weatherView p, .topView .timeView p{
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	width: 230px;
	padding-bottom: 10px;
}
.topView .timeView p{
	text-align: right;
}
.topView .titleView{
	background: url(../img/titleBg.png) no-repeat left top;
	background-size: 100% 100%;
	margin-left: 15px;
}
.topView .titleView p{
	width: 540px;
	height: 70px;
	text-align: center;
	font-size: 30px;
	color: #0f2d9f;
	font-weight: bold;
	line-height: 80px;
}

.content{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background: url(../img/content-bg.png) no-repeat left top;
	background-size: 100% 100%;
	padding: 0 30px;
	padding-top: 25px;
	padding-bottom: 20px;
	margin-top: -35px;
	padding-bottom: 60px;
}
.content-left{
	width: 1055px;
}
.progress{
	width: 100%;
	margin-top: 40px;
	background: url(../img/siteNameBg.png) no-repeat left top;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress .siteNameTitle{
	width: 80%;
	line-height: 90px;
	font-size: 40px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	margin-bottom: 10px;
}
.progress .nextCar{
	width: 30%;
	font-size: 18px;
	color: #fff;
}

.lineView{
	background: url(../img/lineBg.png) no-repeat left top;
	background-size: 100% 100%;
	padding-bottom: 45px;
	transform: scaleY(.74);
	transform-origin: top center;
}
.lineItem{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding: 10px 20px;
	padding-top: 50px;
	margin-bottom: 10px;
	position: relative;
}
.lineTitle{
	font-size: 26px;
	font-weight: bold;
	color: #ccc60d;
	position: absolute;
	left: 0;
	top: 0;
	width: 220px;
	text-align: center;
	line-height: 75px;
}
.leftMap{
	flex: 0 0 230px;
	border-radius: 10px;
}
.leftMap img{
	height: 131px;
}

.icon{
	background: url(../img/right-icon.png) no-repeat left center;
	background-size: 100%;
	flex: 0 0 30px;
	height: 15px;
	margin: 0 10px;
}
.routeView{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	top: 50px;
	margin-bottom: 10px;
}
.routeTitle{
	color: #e40013;
	background-color: #fff;
	line-height: 20px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bolder;
	margin-top: 22px;
	width: 90px;
	text-align: center;
	padding: 5px 0;
}
.routeSecondTitle{
	font-size: 14px;
	color: #fff;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.routeContent{
	flex: 1;
}

.routeDetail{
	position: relative;
	width: 100%;
	/* padding-top: 95px; */
	padding: 20px 100px;
}
/* .routeDetail .line{
	background-color: #faef01;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	height: 5px;
	margin-top: -2.5px;
} */
.siteList{
	width: 725px;
	height: 100px;
	border: 5px solid blue;
	border-radius: 50px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nhx{
	border-color: red;
}
.nhx .siteItem{
	position: absolute;
}
.nhx .siteItem:nth-of-type(1){
	left: -53px;
	top: 50%;
	margin-top: -43px;
}
.nhx .siteItem:nth-of-type(2){
	left: 100px;
	top: -50px;
}
.nhx .siteItem:nth-of-type(3){
	left: 360px;
	top: -50px;
	margin-left: -40px;
}
.nhx .siteItem:nth-of-type(4){
	left: 535px;
	top: -50px;
}
.nhx .siteItem:nth-of-type(5){
	left: 725px;
	margin-left: -58px;
	margin-top: -9px;
}
.nhx .siteItem:nth-of-type(6){
	left: 535px;
	bottom: -33px;
}
.nhx .siteItem:nth-of-type(7){
	left: 360px;
	bottom: -33px;
	margin-left: -40px;
}
.nhx .siteItem:nth-of-type(8){
	left: 100px;
	bottom: -33px;
}
.nhx .jtIcon{
	position: absolute;
	height: 40px;
}
.nhx .jtIcon:nth-of-type(1){
	left: 230px;
	top: -22px;
}
.nhx .jtIcon:nth-of-type(2){
	left: 450px;
	top: -22px;
}
.nhx .jtIcon:nth-of-type(3){
	left: 470px;
	bottom: -22px;
}
.nhx .jtIcon:nth-of-type(4){
	left: 250px;
	bottom: -22px;
}
.qly .siteList{
	/* top: 28%; */
}
.qly .lineTitle{
	line-height: 33px;
}
.qly .routeDetail{
	/* padding-top: 85px; */
}
.qly .routeTitle{
	margin-top: 0;
}
.qly .lineTitle{
	font-size: 24px;
}
.qly .lineItem{
	padding-top: 0;
}
.qly .siteItem{
	position: absolute;
}
.qly .siteItem:nth-of-type(1){
	left: -53px;
	top: 50%;
	margin-top: -29px;
}
.qly .siteItem:nth-of-type(2){
	left: 360px;
	top: -29px;
	margin-left: -40px;
}
.qly .siteItem:nth-of-type(3){
	right: -53px;
	top: 50%;
	margin-top: -29px;
}
.qly .siteItem:nth-of-type(4){
	left: 360px;
	bottom: -29px;
	margin-left: -40px;
}
.qly .jtIcon{
	position: absolute;
	height: 40px;
}
.qly .jtIcon:nth-of-type(1){
	left: 180px;
	top: -22px;
	margin-left: -40px;
}
.qly .jtIcon:nth-of-type(2){
	left: 540px;
	top: -22px;
	margin-left: -40px;
}
.qly .jtIcon:nth-of-type(3){
	left: 540px;
	bottom: -22px;
	margin-left: -20px;
}
.qly .jtIcon:nth-of-type(4){
	left: 180px;
	bottom: -22px;
	margin-left: -20px;
}
.qly .siteList .siteItem{
	height: 60px;
}
.siteList .siteItem{
	height: 80px;	
	width: 100px;
}
.siteList .siteItem img{
	height: 20px;
}
.siteList .siteItem p{
	height: 20px;
	line-height: 20px;
	color: #fff;
}

.site{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.site .carInfo{
	font-size: 16px;
	color: #fff;
	position: absolute;
	left: 50%;
	bottom: -25px;
	width: 120px;
	margin-left: -60px;
	text-align: center;
	display: none;
}
.site .siteName{
	color: #fff;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
}
.site .siteName.green{
	color: #FFFF00;
}
.site .siteName.active{
	color: yellow;
}

.ticketView{
	height: 504px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -105px;
}
.ticketView .ticketItem{
	width: 500px;
	height: 498px;
	background: url(../img/ticketItemBg.png) no-repeat right top;
	background-size: 100% 100%;
	padding: 40px;
	padding-bottom: 0;
	position: relative;
}
.ticketView .ticketItem .itemTitle{
	position: absolute;
	left: 0px;
	top: 0;
	font-size: 20px;
	width: 150px;
	text-align: center;
	font-weight: bold;
}
.ticketView .ticketItem .ticketTitle{
	color: #FAEF01;
	line-height: 80px;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
	font-size: 25px;
}
.ticketView .ticketItem p{
	font-size: 20px;
	color: #fff;
	line-height: 35px;
}

.content-right{
	padding-left: 30px;
	padding-top: 40px;
}
.content-right .right-top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.mapView{
	background: url(../img/mapBg.png) no-repeat left top;
	background-size: 100% 100%;
	width: 490px;
	height: 458px;
	padding: 0 15px;
	padding-top: 45px;
	overflow: hidden;
	width: 735px;
	height: 930px;
	padding-top: 80px;
	position: relative;
}
.mapView .mapTitle{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	width: 215px;
	line-height: 80px;
	letter-spacing: 5px;
}
.mapView img{
	width: 100%;
	height: 861px;
}
#container{
	width: 100%;
	height: 861px;
	transform: scale(1);
}

.bottomTitle{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 60px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.priceView{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.ticketView .ticketItem .priceView p{
	border: none;
	margin-bottom: 0;
}
.priceView a{
	display: block;
	width: 130px;
	line-height: 40px;
	background-color: red;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-size: 18px;
}

.hoverView{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #011548;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}
.hoverView p{
	font-size: 60px;
	color: #fffc00;
	line-height: 450px;
	width: 100%;
	text-align: center;
}