.container{
	min-height: 100vh;
	background-color: #f0f0f0;
	padding: 0.625rem 0;
}
.content{
	background-color: #fff;
	padding: 0 0.625rem;
}
.content p{
	line-height: 2.5rem;
	font-size: 0.875rem;
	border-top: 0.0625rem solid #ddd;
	padding: 0 0.625rem;
}
.descView{
	padding: 0.625rem;
}
.descView .title{
	font-size: 0.9375rem;
	font-weight: bold;
	color: #333;
	line-height: 1.875rem;
}
.descView p{
	font-size: 0.875rem;
	color: #333;
	line-height: 1.25rem;
	margin-bottom: 0.3125rem;
}
.qrcodeView{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-top: 1px solid #ddd;
}