.container{
	padding: 10px;
	min-height: 100vh;
}
.title{
	font-size: 20px;
	font-weight: bold;
	color: #333;
	text-align: center;
	line-height: 50px;
}
.imgView{
	width: 100%;
}
.imgView .imgTitle{
	font-size: 16px;
	color: #333;
	border-left: 5px solid #e9d946;
	padding-left: 10px;
	line-height: 20px;
	margin-bottom: 10px;
}
.imgView img{
	width: 100%;
	margin-bottom: 10px;
}