.container{
	min-height: 100vh;
	width: 100%;
	padding: 50px 10px;
}

.scanBtn{
	display: block;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	border-radius: 50%;
	background-color: #ff5500;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
}
.codeView{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	padding: 10px 0;
}
.codeView input{
	width: 150px;
	height: 35px;
	font-size: 16px;
	border: none;
}
.controlView{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding: 0 10px;
}
.controlView a{
	display: block;
	width: 120px;
	line-height: 35px;
	border: 1px solid #009F95;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
}
.controlView a:nth-of-type(1){
	background-color: #009F95;
	color: #fff;
}